<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lab 02 - Part 1</title>
  </head>
  <body class="container">
    <p>
      Welcome to our humble application
      <br />
      Go to <a href="/hello"><code>/hello</code></a> to receive greetings and metrics.
      <br />
      You can optionally go to <code>/hello/your_name</code> too.
    </p>
  </body>
</html>
